@import 'tailwindcss';
@import 'tw-animate-css';
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

.cairo {
    font-family: 'Cairo', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
}

:root {
    --primary-gold: #f2ae1d;
    --primary-grey: #3a3b3a;
    --offwhite: #fafafa;
}

::selection {
    background-color: #f2ae1d;
    color: #3a3b3a;
}

::-moz-selection {
    background-color: #f2ae1d;
    color: #3a3b3a;
}

/* * {
    scrollbar-width: thin;
    scrollbar-color: #f2ae1d #fafafa;
}

* {
    cursor: none !important;
}
 */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(30px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

