@import 'tailwindcss';
@import 'tw-animate-css';
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

.cairo {
    font-family: 'Cairo', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
}

:root {
    --primary-gold: #f2ae1d;
    --primary-grey: #3a3b3a;
    --offwhite: #fafafa;
}
